
html {
	color: #A9A8A8;
	font-family: Courier;
	font-size: 1.25em;
}

#logo{
	position: relative;
	width: 500px;
	height: 100px;
	color: #D5BE93;
	padding-top: 30px;
	text-align: center;
	background-image: url("logo.gif");
	background-repeat: no-repeat;
	background-position: top center;
	margin: auto;
}

.main {
	position: absolute;
	width: 600px;
	height: 600px;
	margin: auto;
	top: 200px;
	left: 300px;
}

.upper_left {
	position: absolute;
	//top: 200px;
	left: 0;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background: #9A84A7;
	text-align: center;
	line-height: 265px;
	vertical-align: middle;
}

.upper_right {
	position: absolute;
	//top: 200px;
	left: 300px;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background: #57B4B4;
	text-align: center;
	line-height: 265px;
	vertical-align: middle;
}

.lower_left {
	position: absolute;
	top: 300px;
	left: 0;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background: #FF7C7C;
	text-align: center;
	line-height: 265px;
	vertical-align: middle;
}

.lower_right {
	position: absolute;
	top: 300px;
	left: 300px;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background: #FFB77C;
	text-align: center;
	line-height: 265px;
	vertical-align: middle;
}

#questionBox {
	position: absolute;
	border: 3px dotted #F5BCA9;
	height: 500px;
	width: 400px;
	padding: 10px;
	display: none;
	color: gray;
	top: 225px;
	right: 50px;
}

#feedbackBox {
	position: absolute;
	border: 3px dotted #F5BCA9;
	height: 200px;
	width: 400px;
	padding: 10px;
	display: none;
	color: gray;
	top: 225px;
	right: 50px;
	text-align: center;
	font-weight: bold;
}


input[type=submit] {
	padding:5x 15px;
	background: #B2F0FF;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	font-size: .5em;
	color: #A9A8A8;

}

a {
	text-decoration: none;
	color: #E8E3E4;
	vertical-align: middle;
}

#commentButtonText {
	display: none;
	color: #E8E3E4;
	margin-top: 7px;
}

#endButton {
	display: none;
}

#submitButton {
	outline: none;
}

#submitEndButton {
	display: none;
	outline: none;
	width: 200px;
	height: 200px;
	font-size: 1em;
	background-color: #F2DCC2;
}

.submitButtonDiv {
	text-align: center;
}

#nextButton {
	background-color: #D0EEB7;
	outline: none;
}
